<link rel="stylesheet" href="/css/sign_in.css">
<div id="container">
    <form action="/create_session" method="post">
        <label for="name">Name</label>
        <input type="text" name="name">
        <br>
        <label for="email">Email</label>
        <input type="email" name="email">
        <br>
        <label for="password">Password</label>
        <input type="password" name="password">
        <br>
       
        <input type="submit">
    </form>

</div>