* {
  margin: 0;
  padding: 0; }

body {
  background-color: aqua; }

#container {
  position: relative;
  top: 5rem;
  height: 25rem;
  width: 25rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white; }
